<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:name=".App"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test_00"
        tools:targetApi="31">
        <activity android:name="com.example.test_00.GenderActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.example.test_00.AgeActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.example.test_00.WarningActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.example.test_00.MainActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.example.test_00.ResultActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.example.test_00.HeartDetailActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.example.test_00.BreathDetailActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.example.test_00.StressDetailActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.example.test_00.SplashActivity"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>